@font-face {
    font-family: general;
    src: url(../Fonts/AcehSoft-Bold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid #000;
    position: sticky;
    top: 0;
}

.logo{
    width: 200px;

}

/*Navbar*/

.navbar{
    display: flex;
    align-items: center;
    margin: 20px;
}

.menu{
    font-family: general;
    display: flex;
    list-style-type: none;
    gap: 30px;
    grid-gap: 50px;
}

.menu__item a{
    color: black;
    text-decoration: none
}

.menu__item.active a{
    color: #1C9FBB;
    text-decoration: underline;
}

/*Cabecera*/

.cabecera{
    background-image: url(../assets/Portafolio\ de\ servicios.jpg);
    max-width: 100%;
    height: 214px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera2{
    background-image: url(../assets/Contactenos.jpg);
    max-width: 100%;
    height: 214px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera__titulo{
    color: white;
    letter-spacing: 9.12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-weight: 700;

    
}


/*section 2*/

.portafolio{
    display: flex;
    justify-content: space-around;
    background-image: url(../assets/Vertizzes.png);
    background-position: center center;
}

.portafolio__img1{
    margin-top: 5%;
}

.portafolio__img2{
    margin-top: 10%;
}


.portafolio__img2.active h3{
    color: #1C9FBB;
}

.portafolio__titulo{
    color: #000;
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;


}

/*section-contacto 3*/

.section__contacto{
    background-image: url(../assets/contacto.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

/*pie de página*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C9FBB;
    width: 100%;
    height: 200px;
    gap: 50px;
    border: 1px solid #000;
 
}

footer img{
    width: 50px;
}

.Chat-icon{
    position: fixed;
    width: 70px;
    height:70px;
    bottom:40px;
    right:40px;
    background-color: transparent;
    border: none;
}

button img{
    width: 70px;
}