/*Variables*/
$color-primario: blue;
$fuente-principal: general;
$fuente-secundaria: secundario;
@import "footer";


/*CSS*/

@font-face {
    font-family: general;
    src: url(../Fonts/AcehSoft-Bold.ttf);
}

@font-face{
    font-family: secundario;
    src: url(../Fonts/Radiate.Sans/Radiate\ Sans\ Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: #f6f6f5;
    justify-content: space-between;
    border: 1px solid #000;
    position: sticky;
    padding: 0 2rem 0 2rem;
    top: 0;
    z-index: 100;

    .abrir-menu{
        opacity: 0;
        width: auto;
        height: 50px;
        margin-top: 50px;
        background: none;
        border: none;
    }

    .logo{
        max-width: 10rem;   
    
    }

    .logo2{
        
        max-width: max-content;
    }


}



/*Navbar*/

.menu{
    font-family: general;
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.menu__item a{
    color: black;
    text-decoration: none;

    &:hover{
        color: #0cabb0;
        text-decoration: underline;
    }

    
}

.navbar button{
    opacity: 0;

}


.menu__item.active a{
    color: #1C9FBB;
    text-decoration: underline;

}



/*Index contenedor*/

.contenedor{
    background-image: url(../assets/fondo\ index.png);
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;

    .contenedor__imagenes{
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(4, 1fr);

    }
    .card{
        align-items: center;
        border: none;
        background: none;
    }

    h3{
        text-align: center;
        border-radius: 10px;
        padding: 5px;
        font-family: $fuente-principal;
        font-size: 20px;
        width: 290px;
        background-color: rgba(217, 217, 217, 0.70);
        
    }

    img{
        object-fit:cover;
        width: 70%;
        height: 500px;
        border-radius: 15px;

    }
}

/*Cabeceras*/

section{
    z-index: 0;
    position: unset;
}

.cabecera{
    background-image: url(../assets/Portafolio\ de\ servicios.jpg);
    max-width: 100%;
    height: 214px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cabecera2{
    background-image: url(../assets/Contactenos.jpg);
    max-width: 100%;
    height: 214px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera__titulo{
    color: white;
    letter-spacing: 9.12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-weight: 700;

    
}

.cabecera-portafolio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Portafolio\ de\ servicios.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;

    h2{
        color: #f6f6f5;
        letter-spacing: 9.12px;
        font-weight: 700;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

/*section-quienes somos*/
.section-somos{
    background-image: url(../assets/Icons/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 850px;
   
}
.contenedor2{

    .contenedor-cards{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        
    }


    img{
        object-fit: cover;
        width: 230px;
        height: 385px;
        border-radius: 25px;
    }

    /*titulos*/
    h1{
        color: #000;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        font-family: $fuente-principal;
        font-weight: 500;
        padding-top: 2rem;
    }

    hr{
        height: 5px;
        background-color: #000;
        width: 15%;
        margin-left: 42%;
        margin-right: 42%;
    }

    h2{
        text-align: center;
        padding: 5rem 0 0 0;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 47.52px;
        filter: blur(2px);
    }

    h4{
        font-family: general;
        font-size: 15px;
        font-style: normal;
        padding-top: 23px;
    }

    h6{
        font-family: secundario;
        font-size: 15px;
        font-style: normal;
        padding-top: 23px;
    }

    .arrow-down{
        padding: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .arrow-down img{
        height: auto;
        width: 70px;
    }
    

}



/*section portafolio*/
.section-portafolio{
    background-image: url(../assets/Vertizzes.png);
}
.contenedor3{
    padding: 100px;
    align-items: center;
    

    .contenedor__card{
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .banner{
            display: flex;
            justify-content: end;
            align-items: center;
            width: auto;
            margin-left: 50%;
            

            img{
                width: 200px;
                height: auto;
            }
        }
        
        

    
}

    .card{
        background: none;
        border: none;
        text-align: center;
        align-items: center;

    }

    .caja2{
        padding-top: 50px;
    }

    img{
        object-fit: cover;
        width: 230px;
        height: 385px;
        border-radius: 15px;
    }

    h3{
        font-family: $fuente-principal;
        font-size: 20px;
    }

    hr{
    background-color: #000;
    color: #000;
    background-color: #000;
    width: 200px;
    height: 2px;
}


}

/*section servicios*/

.section-servicios{

    .container4{
        height: 800px;
        background-position: center center;
        background-size: cover;
        object-fit: cover;

        .container4__parrafos{
            
            h2{
                color: #fff;
                text-align: center;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-size: 32px;
                letter-spacing: 9.12px;
                font-family: $fuente-principal;
                padding: 5em 0 2.5em;
            }
            p{
                display: flex;
                justify-content: space-around;
                align-items: center;    
                color: #fff;
                text-align: center;
                padding: 10px;
            }


        }


    }

    .container4__imagen{
        text-align: center;

        img{
            width: 50px;
            filter: invert(98%) sepia(3%) saturate(1974%) hue-rotate(197deg) brightness(115%) contrast(100%);
        }
    }


}

.icon-service button img{
    filter: invert(98%) sepia(3%) saturate(1974%) hue-rotate(197deg) brightness(115%) contrast(100%);
}

/*section-contacto 3*/

.section__contacto{
    background-image: url(../assets/contacto.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.titulo-contact{
    text-align: center;
    padding: 10rem 0 0 0;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 15px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

/*pie de página*/

.Chat-icon{
    position: fixed;
    width: 70px;
    height:70px;
    bottom:40px;
    right:40px;
    background-color: transparent;
    border: none;
    z-index: 50;
}

button img{
    width: 70px;
}


/*media queries*/

@media screen and (max-width: 576px){



    /*navbar*/


    #abrir, .Cerrar-menu{
        opacity: 100;
        display: block;
    }




    .navbar{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        align-items: end;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        padding: 2rem;
        gap: 1rem;


        .Cerrar-menu{
            opacity: 100;
            border-radius: 5px;
            width: 70px;
            height: auto;
            border: none;
            font-family: $fuente-secundaria;
        }
    }

    .navbar.visible{
        opacity: 1;
        visibility: visible;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: end;

        a{
            color: #f6f6f5;
        }
    
    }

    .logo{
        width: 100%;
        height: 100%;
    }

    .logo2{
        display: none;
    }

    /*index*/

    .contenedor{
        background-image: url(../assets/fondo\ index.png);
        padding: 50px;
        background-repeat: repeat-y repeat-x;
        background-size: cover;
    
        .contenedor__imagenes{

            display: grid;
            grid-template-columns: repeat(1 ,1fr);

            .card{
                align-items: center;
                border: none;
                background: none;
            }
        }

        

    }


    /*Quienes somos*/

    .section-somos{
        background-image: url(../assets/Icons/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 850px;
    }
    .contenedor2{

        h2{
            text-align: center;
            padding: 3rem 0 0 0;
            font-size: 33px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 12px;
            filter: blur(1px);
        }

        h6{
            font-family: secundario;
            font-size: 15px;
            font-style: normal;
            padding: 5px 0 5px;
        }
    
    
        .contenedor-cards{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
            
        }
    
    
        img{
            object-fit: cover;
            width: 200px;
            height: 385px;
            border-radius: 25px;
        }

    }

     /*titulos*/
     h1{
        color: #000;
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        font-family: $fuente-principal;
        padding-top: 2rem;
    }

    hr{
        height: 5px;
        background-color: #000;
        width: 15%;
        margin-left: 42%;
        margin-right: 42%;
    }



    h4{
        font-family: general;
        font-size: 15px;
        font-style: normal;
        padding-top: 23px;
    }



    /*section-portafolio*/

    .section-portafolio{
        background-image: url(../assets/Vertizzes.png);
    }
    .contenedor3{
        padding: 100px;
        align-items: center;
        
    
        .contenedor__card{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
    
            .banner{
                display: flex;
                justify-content: end;
                align-items: center;
                width: auto;
                margin-left: 50%;

                a .arrow-down{
                    display: none;
                }
                
    
                img{
                    width: 200px;
                    height: auto;
                }
            
            }
            
        }
        
    }

    .cabecera-portafolio{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/Portafolio\ de\ servicios.jpg);
        background-position: center center;
        background-size: cover;
        height: 200px;
    
        h2{
            font-size: 1rem;
            color: #f6f6f5;
            letter-spacing: 9.12px;
            font-weight: 700;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }


    /*contactenos*/

    .titulo-contact{
        text-align: center;
        padding: 3rem 0 0 0;
        font-size: 33px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 9px;
    }
        
    
    /*footer*/

    .pie-pagina{
        width: 100%;
        background-color: #0a141d;
    
        .grupo-1{
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 30px 0px;
            text-align: center;
        }
    }
    

    }



